<% layout("layouts/boilerplate") %>
<!-- Yishuren section -->
<div class="container">
  <h1>Yishuren 藝術人</h1>
  <div class="container-fluid col-md-8 text-start">
    <p>
      For new Chinese speakers seeking native written and spoken materials to
      engage with, the volume of materials available can make difficult the
      process of locating works that capture their interest.
    </p>
    <p>
      The effort is worthwhile. There is a wealth of modern artists and thinkers
      who convey deep human and social insights with awe, humour, rage, and
      sorrow.
    </p>
    <p>
      The few novelists and essayists introduced below have come via
      recommendations from friends, other language learners, or personal
      encounters across years of searching. There are many more out there.
    </p>
    <!-- Dividing line -->
    <hr class="hr hr-blurry" />
  </div>
  <!-- Yishuren section -->
</div>
<!-- Chiang Xun section -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chiang Xun 將勛</h3>
    </div>
  </div>
  <div class="container-fluid col-md-6 text-start my-4">
    <p>
      <em>Quotation placeholder</em>
    </p>
  </div>
  <div class="container-fluid col-md-8 text-start">
    <p>
      Chiang Xun 將勛 (1947 - ) is a writer, artist, and teacher. His extensive
      output includes interpretations of Chinese literary classics, such as his
      mesmerising in-depth series on 'Dream of the Red Chamber' 紅樓夢 - akin to
      the late
      <a href="https://blog.frankdelaney.com/re-joyce/"
        >Frank Delaney's contribution</a
      >
      to James Joyce's Ulysses - essays on Buddhism, and musings on artistic
      expression across differing cultural and societal values.
    </p>
    <p>
      Transcriptions of three episodes from his '<a
        href="https://open.firstory.me/user/cktxxrlw27ioo0898okcvd43b"
        >Meditations on Beauty</a
      >' 美的沉思 series are provided at the links below.
    </p>
  </div>
  <!-- Episode links -->
  <div class="container col-md-8 justify-content-center">
    <a class="btn text-white" href="/yishuren/episodes/cx_01" role="button"
      >上</a
    >
    <a class="btn text-white" href="/yishuren/episodes/cx_02" role="button"
      >中</a
    >
    <a class="btn text-white" href="/yishuren/episodes/cx_03" role="button"
      >下</a
    >
    <!-- Dividing line -->
    <hr class="hr hr-blurry" />
  </div>
  <!-- Chiang Xun section -->
</div>
