<% layout("layouts/boilerplate") %>
<!-- Yishuren -->
<div class="container">
  <h1>Yishuren 藝術人</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      For new Chinese speakers seeking native written and spoken materials to
      engage with, the volume of materials available can make difficult the
      process of locating works that suit their interests.
    </p>
    <p>
      The effort is worthwhile. There are a wealth of contemporary artists and
      thinkers who convey deep human and social insights with awe, humour, rage,
      and sorrow.
    </p>
    <p>
      The few novelists and essayists introduced below have come via
      recommendations from friends, other language learners, or personal
      encounters across years of searching. There are many more out there.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yishuren -->
</div>
<!-- Chiang Xun -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chiang Xun 蔣勛</h3>
    </div>
  </div>

  <div class="container-fluid col-md-8 text-start mt-3">
    <figure class="text">
      <blockquote class="blockquote fs-6 text">
        <p>QUOTATION PLACEHOLDER</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Attribution <cite title="Source Title">Source</cite>
      </figcaption>
    </figure>
    <p>
      Chiang Xun 蔣勛 (1947 - ) is a writer, artist, and teacher. His extensive
      output includes interpretations of Chinese literary classics, such as his
      mesmerising in-depth series on Dream of the Red Chamber 紅樓夢 - akin to
      the late
      <a href="https://blog.frankdelaney.com/re-joyce/"
        >Frank Delaney's contribution</a
      >
      to James Joyce's Ulysses - essays on Buddhism, and musings on artistic
      expression across differing cultural and societal values.
    </p>
    <p>
      Transcriptions of three episodes from Chiang Xun's
      <a href="https://open.firstory.me/user/cktxxrlw27ioo0898okcvd43b"
        >Meditations on Beauty</a
      >
      美的沉思 series are provided at the links below.
    </p>
  </div>
  <!-- Episode links -->
  <div class="container col-md-8 justify-content-center">
    <a class="btn text-white" href="/yishuren/episodes/cx_01" role="button"
      >上</a
    >
    <a class="btn text-white" href="/yishuren/episodes/cx_02" role="button"
      >中</a
    >
    <a class="btn text-white" href="/yishuren/episodes/cx_03" role="button"
      >下</a
    >
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chiang Xun -->
</div>
<!-- Hao Jingfang -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Hao Jingfang 郝景芳</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Hao Jingfang 郝景芳 (1984 - ) is a science fiction writer and 2016
      recipient of the Hugo Award for Best Novelette.
    </p>
    <p>
      Her novella
      <a
        href="https://web.archive.org/web/20160822161228/http://jessica-hjf.blog.163.com/blog/static/278128102015240444791/"
        >Folding Beijing</a
      >
      北京摺曡 is a futuristic riff on the experiences of the city's migrant
      workers 北漂, whose labour is essential to its function, and yet must eke
      out precarious lives in a legal grey zone without basic rights.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Hao Jingfang -->
</div>
<!-- Sanmao -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Sanmao 三毛</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Sanmao 三毛 was the pseudonym of Echo Chen Ping 陳平 (1943 - 1991), a
      writer and translator. Her then-unconventional lifestyle, which saw her
      leave Taiwan alone for Europe and Morocco, embodied a free and independent
      way of life that inspired generations across the Chinese-speaking world.
    </p>
    <p>
      Stories of the Sahara 撒哈拉的故事 is typical of her autobiographical
      writing style, based on her experiences living in Morocco with her Spanish
      husband, who passed away in an accident just a few years after
      publication. Her struggles to cope with this loss informed much of her
      subsequent work, and likely contributed to her suicide a decade later.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Sanmao -->
</div>
<!-- Wang Shuo -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Shuo 王朔</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <figure class="text">
      <blockquote class="blockquote fs-6 text">
        <p>QUOTATION PLACEHOLDER</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Attribution <cite title="Source Title">Source</cite>
      </figcaption>
    </figure>
    <p>
      Wang Shuo 王朔 (1958 - ) is a novelist and screenwriter. Known for his
      'hooligan' 流氓 style of writing, his works have been popular source
      material for film and television since the late 1980s.
    </p>
    <p>
      The dark humour of Please Don't Call Me Human 千萬別把我當人 gets close to
      the bone with its absurdist ridicule of totalitarian bureaucracy.
      Published in the 1980s, a similar work could not evade censorship today.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Shuo -->
</div>
<!-- Wang Xiaobo -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Xiaobo 王小波</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <figure class="text">
      <blockquote class="blockquote fs-6 text">
        <p>QUOTATION PLACEHOLDER</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Attribution <cite title="Source Title">Source</cite>
      </figcaption>
    </figure>
    <p>
      Wang Xiaobo 王小波 (1952 - 1997) was a novelist and essayist. Born in
      Beijing, he was amongst the many 'sent-down' or 'educated' youths 知識青年
      extracted from urban life to labour in rural areas during the Cultural
      Revolution 文革.
    </p>
    <p>
      That experience influenced some of his best-known works, including the
      satirical Golden Age 黃金時代. Essay collections such as Silent Majority
      沉默的大多數 exhibit his vernacular wit and talent for querying social
      norms.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Xiaobo -->
</div>
<!-- Wu Ming-Yi -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wu Ming-Yi 吳明益</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wu Ming-Yi 吳明益 (1971 - ) is a writer, artist and academic, and a
      professor of Chinese literature at National Dong Hwa University
      國立東華大學. His writing has explored environmentalism and themes unique
      to Taiwan, such as the influence of the island's Japanese occupation.
    </p>
    <p>
      The Stolen Bicycle 單車失竊記 revolves around a man seeking his
      long-absent father, with meditations on Taiwan's role in World War II in
      southeast Asia. His meticulous effort to piece together whatever fragments
      he can - down to cataloguing bicycles used in the theatre his father
      served in - vividly contrasts the inability to know the person at the
      centre of his search.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wu Ming-Yi -->
</div>
<!-- Yang Weidong -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yang Weidong 楊偉東</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yang Weidong 楊偉東 (1966 - ) is an artist and independent filmmaker.
      After suffering a politically-motivated family tragedy, he sought to
      understand how society could arrive at a state in which such acts occur
      without recourse.
    </p>
    <p>
      The result was Put This On Record 立此存照, a multi-volume series of over
      500 interviews with prominent figures including officials, economists,
      historians, philosophers and activists across a spectrum of
      socio-political attitudes. Yang provides his subjects space to elucidate
      their thoughts, and humbly resists bringing his personal motivation into
      direct view.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yang Weidong -->
</div>
