<div class="navbar">
  <h3><a href="/">Jestbral</a></h3>
  <div class="std-header">
    <a href="/footprints">Footprints</a>
  </div>
  <div class="std-header"><a href="#">Stocks</a></div>
  <div class="std-header"><a href="#">Tree</a></div>
  <div class="dropdown">
    <a href="/meidechensi"><span class="chinese">蔣勛《美的沉思》</span></a>
  </div>
</div>
