<nav class="navbar">
  <div class="navlogo">
    <h3><a href="/">Jestbral</a></h3>
  </div>
  <div class="navlinks">
    <div>
      <a href="/footprints">Footprints</a>
    </div>
    <div><a href="#">Stocks</a></div>
    <div><a href="#">Tree</a></div>
    <div>
      <a href="/meidechensi"><span class="chinese">蔣勛 美的沉思</span></a>
    </div>
  </div>
</nav>
