<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Jestbral</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/footprints">Footprints</a>
        <a class="nav-link disabled" href="#">Stocks</a>
        <a class="nav-link disabled" href="#">Tree</a>
        <a class="nav-link" href="/meidechensi"
          ><span id="chinese">蔣勛 美的沉思</span></a
        >
      </div>
    </div>
  </div>
</nav>
