<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/stylesheets/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Boilerplate</title>
  
  <body>
    <div class="container">
        <h2><a href="/">Jestbral</a></h2>
        <nav>
          <h3 class="std-header">
            <a href="/footprints">Footprints</a>
          </h3>
          <h3 class="std-header"><a href="#">Stocks</a></h3>
          <h3 class="std-header"><a href="#">Tree</a></h3>
          <h3 class="dropdown">
            <a href="#"><span class="chinese">蔣勛《美的沉思》</span></a>
          </h3>
        </nav>
      </div>
    
    <%- body %>

  </body>
</html>
