<% layout("layouts/boilerplate") %>
<div class="container">
  <h1 class="heading">UNTITLED, 2023</h1>
  <!-- Introduction -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This site is part portfolio, part laboratory, and part collage of things
      that draw me in, that I would like to share. It may yet become other
      things, too.
    </p>
    <p>
      <a class="heading" href="/footprints">FOOTPRINTS</a> is a project around
      maps and memories; <a class="heading" href="#">ROOTS</a> is a family tree;
      and <a class="heading" href="#">STOCKS</a> is part portfolio tracker, part
      intro to asset allocation theory.
    </p>
    <p>
      <a class="heading" href="/yishuren">YISHUREN</a> is a reference list of
      artists and thinkers from the Chinese-speaking world whose works I have
      enjoyed, and resources that have been useful as I've delved into the
      language.
    </p>
    <p>Feel free to explore, or read on below for a few words about me.</p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Introduction -->
  </div>
</div>
<!-- Bio -->
<div class="container">
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      An economics graduate, I moved to Chongqing to study Mandarin after a
      hitchhiking trip across Yunnan and Sichuan, beautiful areas ranging from
      mountain plateaus in the north, to rainforest in the south.
    </p>
    <p>
      Fluency took effort, but it was my passion, and the incremental feeling of
      adaptation to life there was a constant source of motivation.
    </p>
  </div>
  <!-- Chongqing Map -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <div id="mapCQ" style="width: 100%; height: 275px"></div>
  </div>
  <!-- Chongqing Map -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Chongqing is one of the few major Chinese cities to have developed
      "naturally", as dictated by its mountainous terrain at the confluence of
      the Yangtze and Jialing rivers. It has a lot of character, aided by its
      strong working-class culture and spicy cuisine.
    </p>
    <p>
      The decision to move there and the acquisition of a new language changed
      my life in ways I never anticipated.
    </p>
    <p>
      I relocated for work in Hong Kong, a much more global city but similar in
      its density, and mix of mountain and water. I miss Chongqing's food and
      energy, but the access to trails and ocean here alongside Hong Kong's own
      urban offerings is hard to rival.
    </p>
  </div>
  <!-- Hong Kong Map -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <div id="mapHK" style="width: 100%; height: 275px"></div>
  </div>
  <!-- Hong Kong Map -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      In 2022 I began to learn Python, then JavaScript and a range of web
      development tools.
    </p>
    <p>
      Programming involves languages of a different kind to those spoken, but
      the process of constant learning and refining holds equal appeal.
    </p>
    <p>
      As with many before me, coding has fascinated me to the point of deciding
      to change career and make it my trade. I don't yet know where it will take
      me, but that's part of the fun.
    </p>
    <figure class="text-end">
      <blockquote class="blockquote fs-6 text">
        <p>Anywhere, anywhere I'm gonna lay my head, I'm gonna call my home.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Tom Waits <cite title="Source Title">Anywhere I Lay My Head</cite>
      </figcaption>
    </figure>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Bio -->
</div>
<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/javascripts/indexMap.js"></script>
