<% layout("layouts/boilerplate") %>
<!-- Introduction -->
<div class="container">
  <h1>Untitled, 2023</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This website is part portfolio, part laboratory, and part collage of
      things that draw me in, that I would like to share. It is probably other
      things, too.
    </p>
    <p>
      In 2022 I began to learn Python, and then JavaScript and a range of web
      development tools. As with many before me, it has fascinated me to the
      point of deciding to change career, and make it my trade.
    </p>
    <p>
      An economics graduate, I moved to Chongqing to study Mandarin after a trip
      across Yunnan and Sichuan provinces. It took effort become fluent, but it
      was my passion, and the privilege of adapting to life in a foreign place
      was a constant source of motivation.
    </p>
    <p>MAP PLACEHOLDER</p>
    <p>
      The move and the acquisition of a new language changed my life in ways I
      never anticipated.
    </p>
    <p>
      Programming involves languages of a different kind, but the process of
      constant learning and refining holds equal appeal.
    </p>
    <p>MAP PLACEHOLDER</p>
    <p>Hong Kong has been home for years now, but in the words of Tom Waits:</p>
    <figure class="text-end">
      <blockquote class="blockquote fs-6 text">
        <p>Anywhere, anywhere I'm gonna lay my head, I'm gonna call my home.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Tom Waits <cite title="Source Title">Anywhere I Lay My Head</cite>
      </figcaption>
    </figure>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Introduction -->
</div>
