<% layout("layouts/boilerplate") %>

<div class="div-image"></div>
<div class="container">
  <div class="map-frame">Map Placeholder</div>
  <div class="map-frame">Map Placeholder</div>
  <div class="map-frame">Map Placeholder</div>
</div>
