<% layout("layouts/boilerplate") %>

<div class="container col-md-10">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi facilis
    aspernatur optio deleniti eos architecto nobis. Tempora, animi! Eaque
    voluptas eveniet optio ipsa aut dignissimos consectetur asperiores itaque
    libero quos? Suscipit id pariatur totam accusamus! In nam veritatis
    consequatur labore, architecto tempore sint quaerat alias ratione qui
    provident consequuntur quisquam natus possimus iusto minus eos cum autem
    optio, voluptates et.
  </p>
  <p>
    Nulla doloremque molestias quae sint et laboriosam tenetur quidem maxime
    magni praesentium. Nesciunt, sapiente nam explicabo saepe, dicta obcaecati
    eaque recusandae ducimus distinctio architecto quaerat? Officiis adipisci
    dicta autem illo! Quidem molestiae ut placeat, debitis ex quos assumenda
    exercitationem dolor sint. Praesentium animi eum saepe quisquam excepturi
    voluptatum numquam veritatis, distinctio suscipit. Possimus, esse deleniti.
    Quam ex aspernatur libero eveniet?
  </p>
</div>
<div class="container">
  <div class="block">
    <div class="map-frame">Map Placeholder</div>
    <div class="map-frame">Map Placeholder</div>
    <div class="map-frame">Map Placeholder</div>
  </div>
</div>
