:root {
    --main-bg-colour: #171918; /* matches image background */
    --main-txt-colour: #f0f0f0;
    --navbar-border-colour: #2F536A;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: var(--main-bg-colour);
    color: var(--main-txt-colour);
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    box-sizing: border-box;
}
.chinese {
    font-family: 'Noto Serif TC', serif;
}

.navbar {
    background-color: --main-bg-colour;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 0 5px 0.5rem;
    margin: 0 0 5px 0;
    box-sizing: border-box;
    border-bottom: 2px solid var(--navbar-border-colour);
}
.navlogo {
    display: inline-block;
    padding: 0 5px 0 5px;
}
.navlinks {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 0;
    line-height: 0.8rem;
    gap: 5px;
}

.div-image {
    width: 100%;
    height: 300px;
    padding: 0.5rem 0;
    background: center/90% no-repeat url("https://images.unsplash.com/photo-1498813569067-a4332afdfcf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80") var(--main-bg-colour);
    /* image size = width 421px height 580px */
    margin: 0 auto;
}

@media (min-width: 550px) {
    .container {
        max-width: 100%;
        flex-direction: row;
    }

    .div-image {
        width: 100%;
        padding: 0.5rem 0;
        background: center url("https://images.unsplash.com/photo-1498813569067-a4332afdfcf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80") var(--main-bg-colour);
        /* image size = width 421px height 580px */
    }
}

a {
    text-decoration: none;
    color: var(--main-txt-colour);
}

.map-frame {
    color:var(--main-bg-colour);
    background-color: var(--main-txt-colour);
    height: 100px;
    width: 200px;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0
}

footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto;
}

