:root {
    --main-bg-colour: #171918;
    --main-txt-colour: #f0f0f0;
    /* --navbar-bg-colour: #33789d; */
    /* --navbar-bg-colour: #00509d; */
    /* --navbar-bg-colour: #023e7d; */
    --navbar-bg-colour: #443C68;
}

body {
    font-family: 'Noto Serif', 'KaiTi', '楷体', serif;
    background-color: var(--main-bg-colour);
    color: var(--main-txt-colour);
    text-align: center;
}

.navbar {
    background-color: var(--navbar-bg-colour);
}
.navbar-brand {
    font-family: 'Bungee Shade';
}
.heading {
    font-family: 'ZCOOL QingKe HuangYou';
}
a {
    color: var(--main-txt-colour);
}

#btn-back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    border-radius: 50%;
    display: none;
    /* background-color: var(--navbar-bg-colour); */
  }
