<% layout("layouts/boilerplate") %>
<div class="container">Some text about the map and its functionality.</div>
<div class="container">
  <div id="map" style="width: 75%; height: 350px"></div>
</div>

<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/javascripts/footprintsMap.js"></script>
