<% layout("layouts/boilerplate") %>
<!-- Intro -->
<div class="container">
  <h1 class="heading">FOOTPRINTS</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Footprints is a project to document in map-form the places I've travelled
      to. The projection below highlights places visited, but the effect is to
      highlight the vast spaces that remain unencountered.
    </p>
    <p>
      The scope is limited to top-level country jurisdictions for now; in time
      it will be refined to smaller geographies, and I hope to make it
      interactive so that others can play with their own versions.
    </p>
  </div>
  <!-- Intro -->
</div>
<!-- Map -->
<div class="container-fluid col-md-8 text-start mt-3">
  <div id="map" style="width: 100%; height: 350px"></div>
</div>
<!-- Map -->
<div class="container-fluid col-md-8 text-start mt-3">
  <p>
    The concept is part-inspired by the real-time strategies I enjoyed playing
    growing up, in which each game began with the map shrouded in darkness, to
    be revealed as you explored the surroundings.
  </p>
  <p>
    Visiting a place physically offers just one form of knowledge, and implies
    no intellectual or psychological understanding.
  </p>
  <p>
    I lived in Chongqing for only a few years, but knowledge of the language
    brought me close to the culture. After far longer in Hong Kong, where
    English is widely spoken, slower progress with Cantonese gives the sense of
    not yet having met the city on its own terms.
  </p>
  <p>
    At the physical level, hikes and urban exploration have taken me across most
    of the territory and its surroundings, whereas Chongqing life was more
    confined within the city's urban sprawl.
  </p>
  <p>
    Then again there is the USA, which I have never visited, but to which
    lifelong exposure to its art, media and politics gives an exaggerated sense
    of knowledge.
  </p>
  <figure class="text-end">
    <blockquote class="blockquote fs-6 text">
      <p>We don't need other worlds. We need mirrors.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Dr Gibarian in <cite title="Source Title">Solaris</cite>, Stanislaw Lem
    </figcaption>
  </figure>
  <!-- Dividing line -->
  <hr class="hr my-4" />
</div>
<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/javascripts/footprintsMap.js"></script>
