<% layout("layouts/boilerplate") %>
<!-- Introduction -->
<div class="container">
  <h1>Footprints</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Footprints reveal places visited, but in doing so highlight <br />the vast
      spaces that remain unencountered.
    </p>
    <p>
      The scope is limited to entire countries for now; <br />in time it will be
      refined to smaller geographies.
    </p>
  </div>
  <!-- Introduction -->
</div>
<!-- Map -->
<div class="grid gap 0 row-gap-3">
  <div class="d-flex container-fluid justify-content-center mb-2">
    <div id="map" style="width: 80%; height: 350px"></div>
  </div>
</div>
<!-- Map -->
<div class="container-fluid col-md-8 text-start mt-3">
  <!-- Dividing line -->
  <hr class="hr my-4" />
</div>
<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/javascripts/footprintsMap.js"></script>
