<% layout("layouts/boilerplate") %>
<div class="container">
  <div id="map" style="width: 75%; height: 350px"></div>
</div>
<div class="container">
  Generated using Mapbox, with masking applied to reveal places I've visited.
</div>
<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/javascripts/footprintsMap.js"></script>
